@import './base/reset';
@import './partials/navbar';

body {
  background-color: lightgrey;
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
}

.test {
  padding-top: 25px;
  font-size: 1.5em;
}
