doctype html
html
  head
    title Test
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body
    script(src='/js/main.js')
    .container
      header
        a(href='/') My Page
        ul
          li
            a(href='/link1') Link1
          li
            a(href='/link2') Link2
    block content
